## Machine Learning Mock Up Group 4

In [2]:
import pandas as pd
from pathlib import Path
import matplotlib.pyplot as plt
from sklearn.linear_model import LinearRegression

In [10]:
file_path = 'Resources/zomato.csv'
df= pd.read_csv(file_path,  encoding = "ISO-8859-1")
df.head()

,Restaurant ID,Restaurant Name,Country Code,City,Address,Locality,Locality Verbose,Longitude,Latitude,Cuisines,...,Currency,Has Table booking,Has Online delivery,Is delivering now,Switch to order menu,Price range,Aggregate rating,Rating color,Rating text,Votes
0,6317637,Le Petit Souffle,162,Makati City,"Third Floor, Century City Mall, Kalayaan Avenu...","Century City Mall, Poblacion, Makati City","Century City Mall, Poblacion, Makati City, Mak...",121.027535,14.565443,"French, Japanese, Desserts",...,Botswana Pula(P),Yes,No,No,No,3,4.8,Dark Green,Excellent,314
1,6304287,Izakaya Kikufuji,162,Makati City,"Little Tokyo, 2277 Chino Roces Avenue, Legaspi...","Little Tokyo, Legaspi Village, Makati City","Little Tokyo, Legaspi Village, Makati City, Ma...",121.014101,14.553708,Japanese,...,Botswana Pula(P),Yes,No,No,No,3,4.5,Dark Green,Excellent,591
2,6300002,Heat - Edsa Shangri-La,162,Mandaluyong City,"Edsa Shangri-La, 1 Garden Way, Ortigas, Mandal...","Edsa Shangri-La, Ortigas, Mandaluyong City","Edsa Shangri-La, Ortigas, Mandaluyong City, Ma...",121.056831,14.581404,"Seafood, Asian, Filipino, Indian",...,Botswana Pula(P),Yes,No,No,No,4,4.4,Green,Very Good,270
3,6318506,Ooma,162,Mandaluyong City,"Third Floor, Mega Fashion Hall, SM Megamall, O...","SM Megamall, Ortigas, Mandaluyong City","SM Megamall, Ortigas, Mandaluyong City, Mandal...",121.056475,14.585318,"Japanese, Sushi",...,Botswana Pula(P),No,No,No,No,4,4.9,Dark Green,Excellent,365
4,6314302,Sambo Kojin,162,Mandaluyong City,"Third Floor, Mega Atrium, SM Megamall, Ortigas...","SM Megamall, Ortigas, Mandaluyong City","SM Megamall, Ortigas, Mandaluyong City, Mandal...",121.057508,14.584450,"Japanese, Korean",...,Botswana Pula(P),Yes,No,No,No,4,4.8,Dark Green,Excellent,229

In [15]:
df1= df.drop(['Country Code','Address','Locality','Locality Verbose','Longitude','Latitude','Currency'],axis=1)
df1

,Restaurant ID,Restaurant Name,City,Cuisines,Average Cost for two,Has Table booking,Has Online delivery,Is delivering now,Switch to order menu,Price range,Aggregate rating,Rating color,Rating text,Votes
0,6317637,Le Petit Souffle,Makati City,"French, Japanese, Desserts",1100,Yes,No,No,No,3,4.8,Dark Green,Excellent,314
1,6304287,Izakaya Kikufuji,Makati City,Japanese,1200,Yes,No,No,No,3,4.5,Dark Green,Excellent,591
2,6300002,Heat - Edsa Shangri-La,Mandaluyong City,"Seafood, Asian, Filipino, Indian",4000,Yes,No,No,No,4,4.4,Green,Very Good,270
3,6318506,Ooma,Mandaluyong City,"Japanese, Sushi",1500,No,No,No,No,4,4.9,Dark Green,Excellent,365
4,6314302,Sambo Kojin,Mandaluyong City,"Japanese, Korean",1500,Yes,No,No,No,4,4.8,Dark Green,Excellent,229
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9546,5915730,NamlÛ± Gurme,ÛÁstanbul,Turkish,80,No,No,No,No,3,4.1,Green,Very Good,788
9547,5908749,Ceviz AÛôacÛ±,ÛÁstanbul,"World Cuisine, Patisserie, Cafe",105,No,No,No,No,3,4.2,Green,Very Good,1034
9548,5915807,Huqqa,ÛÁstanbul,"Italian, World Cuisine",170,No,No,No,No,4,3.7,Yellow,Good,661
9549,5916112,Aôôk Kahve,ÛÁstanbul,Restaurant Cafe,120,No,No,No,No,4,4.0,Green,Very Good,901
9550,5927402,Walter's Coffee Roastery,ÛÁstanbul,Cafe,55,No,No,No,No,2,4.0,Green,Very Good,591

In [19]:
df2= df1.drop(['Restaurant Name','Is delivering now','Switch to order menu','Rating color'], axis= 1)
df2

,Restaurant ID,City,Cuisines,Average Cost for two,Has Table booking,Has Online delivery,Price range,Aggregate rating,Rating text,Votes
0,6317637,Makati City,"French, Japanese, Desserts",1100,Yes,No,3,4.8,Excellent,314
1,6304287,Makati City,Japanese,1200,Yes,No,3,4.5,Excellent,591
2,6300002,Mandaluyong City,"Seafood, Asian, Filipino, Indian",4000,Yes,No,4,4.4,Very Good,270
3,6318506,Mandaluyong City,"Japanese, Sushi",1500,No,No,4,4.9,Excellent,365
4,6314302,Mandaluyong City,"Japanese, Korean",1500,Yes,No,4,4.8,Excellent,229
...,...,...,...,...,...,...,...,...,...,...
9546,5915730,ÛÁstanbul,Turkish,80,No,No,3,4.1,Very Good,788
9547,5908749,ÛÁstanbul,"World Cuisine, Patisserie, Cafe",105,No,No,3,4.2,Very Good,1034
9548,5915807,ÛÁstanbul,"Italian, World Cuisine",170,No,No,4,3.7,Good,661
9549,5916112,ÛÁstanbul,Restaurant Cafe,120,No,No,4,4.0,Very Good,901
9550,5927402,ÛÁstanbul,Cafe,55,No,No,2,4.0,Very Good,591

In [22]:
# Copy the Aggregate rating column into new Aggregate rating binary column
df2['Aggregate rating binary'] = df2['Aggregate rating']
df2.head()

,Restaurant ID,City,Cuisines,Average Cost for two,Has Table booking,Has Online delivery,Price range,Aggregate rating,Rating text,Votes,Aggregate rating binary
0,6317637,Makati City,"French, Japanese, Desserts",1100,Yes,No,3,4.8,Excellent,314,4.8
1,6304287,Makati City,Japanese,1200,Yes,No,3,4.5,Excellent,591,4.5
2,6300002,Mandaluyong City,"Seafood, Asian, Filipino, Indian",4000,Yes,No,4,4.4,Very Good,270,4.4
3,6318506,Mandaluyong City,"Japanese, Sushi",1500,No,No,4,4.9,Excellent,365,4.9
4,6314302,Mandaluyong City,"Japanese, Korean",1500,Yes,No,4,4.8,Excellent,229,4.8

In [23]:
# Convert 'Aggregate rating binary' column to binary values
df2.loc[df2["Aggregate rating binary"] < 4, "Aggregate rating binary"] = 0
df2.loc[df2["Aggregate rating binary"] >= 4, "Aggregate rating binary"] = 1
df2

,Restaurant ID,City,Cuisines,Average Cost for two,Has Table booking,Has Online delivery,Price range,Aggregate rating,Rating text,Votes,Aggregate rating binary
0,6317637,Makati City,"French, Japanese, Desserts",1100,Yes,No,3,4.8,Excellent,314,1.0
1,6304287,Makati City,Japanese,1200,Yes,No,3,4.5,Excellent,591,1.0
2,6300002,Mandaluyong City,"Seafood, Asian, Filipino, Indian",4000,Yes,No,4,4.4,Very Good,270,1.0
3,6318506,Mandaluyong City,"Japanese, Sushi",1500,No,No,4,4.9,Excellent,365,1.0
4,6314302,Mandaluyong City,"Japanese, Korean",1500,Yes,No,4,4.8,Excellent,229,1.0
...,...,...,...,...,...,...,...,...,...,...,...
9546,5915730,ÛÁstanbul,Turkish,80,No,No,3,4.1,Very Good,788,1.0
9547,5908749,ÛÁstanbul,"World Cuisine, Patisserie, Cafe",105,No,No,3,4.2,Very Good,1034,1.0
9548,5915807,ÛÁstanbul,"Italian, World Cuisine",170,No,No,4,3.7,Good,661,0.0
9549,5916112,ÛÁstanbul,Restaurant Cafe,120,No,No,4,4.0,Very Good,901,1.0
9550,5927402,ÛÁstanbul,Cafe,55,No,No,2,4.0,Very Good,591,1.0

In [25]:
df2 = df2.astype({'Aggregate rating binary' :int })

In [28]:
df2.dtypes

Restaurant ID                int64
City                        object
Cuisines                    object
Average Cost for two         int64
Has Table booking           object
Has Online delivery         object
Price range                  int64
Aggregate rating           float64
Rating text                 object
Votes                        int64
Aggregate rating binary      int32
dtype: object

In [30]:
df2.head()

,Restaurant ID,City,Cuisines,Average Cost for two,Has Table booking,Has Online delivery,Price range,Aggregate rating,Rating text,Votes,Aggregate rating binary
0,6317637,Makati City,"French, Japanese, Desserts",1100,Yes,No,3,4.8,Excellent,314,1
1,6304287,Makati City,Japanese,1200,Yes,No,3,4.5,Excellent,591,1
2,6300002,Mandaluyong City,"Seafood, Asian, Filipino, Indian",4000,Yes,No,4,4.4,Very Good,270,1
3,6318506,Mandaluyong City,"Japanese, Sushi",1500,No,No,4,4.9,Excellent,365,1
4,6314302,Mandaluyong City,"Japanese, Korean",1500,Yes,No,4,4.8,Excellent,229,1

In [32]:
df2.drop(['Aggregate rating'], axis= 1)

,Restaurant ID,City,Cuisines,Average Cost for two,Has Table booking,Has Online delivery,Price range,Rating text,Votes,Aggregate rating binary
0,6317637,Makati City,"French, Japanese, Desserts",1100,Yes,No,3,Excellent,314,1
1,6304287,Makati City,Japanese,1200,Yes,No,3,Excellent,591,1
2,6300002,Mandaluyong City,"Seafood, Asian, Filipino, Indian",4000,Yes,No,4,Very Good,270,1
3,6318506,Mandaluyong City,"Japanese, Sushi",1500,No,No,4,Excellent,365,1
4,6314302,Mandaluyong City,"Japanese, Korean",1500,Yes,No,4,Excellent,229,1
...,...,...,...,...,...,...,...,...,...,...
9546,5915730,ÛÁstanbul,Turkish,80,No,No,3,Very Good,788,1
9547,5908749,ÛÁstanbul,"World Cuisine, Patisserie, Cafe",105,No,No,3,Very Good,1034,1
9548,5915807,ÛÁstanbul,"Italian, World Cuisine",170,No,No,4,Good,661,0
9549,5916112,ÛÁstanbul,Restaurant Cafe,120,No,No,4,Very Good,901,1
9550,5927402,ÛÁstanbul,Cafe,55,No,No,2,Very Good,591,1

### Test train split

In [34]:
y = df2['Aggregate rating binary']
X= df2.drop(columns= 'Aggregate rating binary')
X= pd.get_dummies(X)

In [35]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X,
   y,  random_state=1, stratify=y)
X_train.shape

(7163, 1981)

In [36]:
from sklearn.svm import SVC
model = SVC(kernel='linear')

In [ ]:
model.fit(X_train, y_train)

In [ ]:
y_pred = model.predict(X_test)
results = pd.DataFrame({
   "Prediction": y_pred,
   "Actual": y_test
}).reset_index(drop=True)
results.head()

In [ ]:
from sklearn.metrics import accuracy_score
accuracy_score(y_test, y_pred)

In [ ]:
from sklearn.metrics import confusion_matrix
confusion_matrix(y_test, y_pred)

from sklearn.metrics import classification_report
print(classification_report(y_test, y_pred))